{% extends "base.html" %}
{% block content %}
{% regroup services|dictsort:"category.name" by category as category_list %}
  {% for category in category_list %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="list-group-item-heading">{{ category.grouper.name }}</h4>
    <p class="list-group-item-text">{{ category.grouper.description|safe }}</p>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Service</th>
        <th>Latest State</th>
      </tr>
    </thead>

    <tbody>
    {% for service in category.list %}
        {% with latest_status=service.events.latest.status %}
      <tr>
        <td><a href="{{ service.get_absolute_url }}{{ service.events.latest.start|date:"/Y/m/d" }}">{{ service.name }}</a></td>
        <td>
          <a href="{{ service.get_absolute_url }}{{ service.events.latest.start|date:"/Y/m/d" }}">
            {% if latest_status %}
              <img src="{{ STATIC_URL }}images/status/{{ latest_status.image }}.png" alt="{{ latest_status }} "/>
            {% else %}
              <img src="{{ STATIC_URL }}images/status/{{ default.image }}.png" alt="{{ default.name }} "/>
            {% endif %}
            {% endwith %}
          </a>
        </td>
      </tr>
    {% endfor %}              
    </tbody>
  </table>
</div>
{% endfor %}
{% include "plank/_legend.html" %}
{% endblock %}
